body, html {
    margin: 0;
    padding: 0;
  }
  
  .row {
    height: 100px;
    width: 100%;
  }
  
  .row-1 {
    background-color: lightgray;
    padding: 25px;
    box-sizing: border-box;
  }
  
  .square-one {
    width: 50px;
    height: 50px;
    background-color: blue;
  }
  
  .row-2 {
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .row-3 {
    background-color: blue;
  }
  
  .row-4 {
    background-color: turquoise;
  }
  
  .row-5 {
    background-color: limegreen;
  }
  
  .row-6 {
    background-color: yellow;
  }